/* Untuk Tablet */
@media all and (max-width: 1000px) {
 .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .top-wrapper{
    padding: 100px 0 80px 0;
  }

  .top-wrapper h1 {
    font-size: 35px;
  }

  .top-wrapper h2{
    font-size: 27px;
  }

  .top-wrapper h3{
    font-size: 20px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .nuve{
    margin-top: 0px;
  }

  .value {
    width: 50%;
    margin-bottom: 50px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  .value {
  width: 100%;
}

  footer {
    text-align: center;
  }

  .nuve{
    margin-top: 0px;
  }

  .btn {
    width: 100%;
  }
 
  .sign-up {
  margin-right: 0;
}

.login-aja {
  margin-right: 0;
}

  .sign-up {
    margin-bottom: 20px;
  }

  .top-wrapper {
    text-align: left;
    padding: 65px 0 40px 0;
  }

  /* Tambahkan CSS untuk header-right */
  .header-right{
    display: none;
  }

  /* Tambahkan CSS untuk menu-icon */
  .menu-icon{
    display: block;
  }

  .top-wrapper h1 {
    font-size: 28px;
  }

  .top-wrapper h2{
    font-size: 20px;
  }

  .top-wrapper h3{
    font-size: 15px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .dts h1{
  padding-top: 10px;
  text-align: right;
  font-size: 24px;
  font-family: "Nirmala UI";
  color: #fff;
  font-weight: bolder;
 }

.dts p{
  margin-top: -20px;
  text-align: right;
  font-size: 12px;
  color: #fff;
 }
}
